* {
    font-family: Arial, Helvetica, sans-serif;
    background: paleturquoise;
}

#bio, #education, #workexp, #guessing-game {
    border: 2px solid darkblue;
    margin: 10px 10px;
    padding: 20px;
}

.question {
    background: palegoldenrod;
}

.answer {
    background: pink;
    color: transparent; 
    font-size: 16px;
}