* {
    font-family: Arial, Helvetica, sans-serif;
    background: paleturquoise;
}

.question {
    background: palegoldenrod;
}

.answer {
    background: pink;
    color: transparent; 
    font-size: 16px;
}